<div>
  Hi, <%= @not_yet_created_user.first_name %>!

  A <%= @not_yet_created_user.role %> account has been created for you in the music education web app. Please follow this link to set your password:

  <a href="<%= ENV['CLIENT_BASEURL'] %>/set_password?email=<%= CGI.escape(@not_yet_created_user.email) %>&uuid=<%= @not_yet_created_user.uuid %>">Create your password</a>
</div>
