<div>
  Hi, <%= @notYetCreatedUser.first_name %>!

  A <%= @notYetCreatedUser.role %> account has been created for you in the music education web app. Please follow this link to set your password:

  <a href="<%= ENV['CLIENT_BASEURL'] %>/set_password?email=<%= CGI.escape(@notYetCreatedUser.email) %>&uuid=<%= @notYetCreatedUser.uuid %>">Create your password</a>
</div>
